img {
    max-width: 100%;
}

button {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #7367f0;
    color: #fff;
    font-size: 1em;
    margin: 5px;
    padding: 10px;
}