.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-search {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10vh;
}

.list-search__form {
  margin: 15px;
  display: grid;
}

.list-search__list {
  display: grid;
}

.list-search__title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-search__item {
  display: flex;
  padding: 2px;
  justify-content: left;
}


span {
  margin: 10px;
  font-size: 12px;
  padding: 4px;
}

h3 {
  margin: auto;
}

input {
  font-size: 25px;
}